<div class="outer">

    <div class="sidenav-right">
        <div class="image-container">
            <img fxHide="{{theme}}" class="about-top" src="assets/images/light/about_top.png">
            <img fxHide="{{!theme}}" class="about-top" src="assets/images/dark/about_top.png">

        </div>
        <div class="description">

            <p class="detail">The Ask Those Who Know app was launched on July 30th, 2016 under the umbrella of Alkauthar
                Welfare Trust, Mumbai. Since day one, the app is available to users at no cost, for the sake of Allah
                SWT as long as the app is running. </p>
            <p class="detail">AlKauthar Welfare Trust, established Januarary 2012 in Mumbai, India. The trust started
                off by few undergraduate students that collected funds from individuals and families that was utilized
                by the destituites and the needy. Our aim is to ensure prosperity and welfare of the people in need God
                Willing. </p>
        </div>
    </div>
</div>