.title{
    font-size: 20px;
    font-family:SF Text Light ;
    margin-bottom: 10px;;
}
.description{
    font-size: 18px;
    font-family:SF Text Light ;
    margin-bottom: 10px;;
    padding: 0px 20px;
}
.detail {

}
.detail-list{

}
img.about-top {
    width: 100%;
}
