<div class="outer">
    <div class="sidenav-right">
        <div class="main-term-wrap">
            <!-- <p class="para">

            </p> -->
            <mat-accordion class="example-headers-align">
                                <!-- ------------------------------- -->
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <!-- <mat-icon class="mlr">navigate_next</mat-icon> -->
                                            Overview
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="term-description">
                                        <p class="para mt0">By using AskThoseWhoKnow a.k.a. ATWK <a href="www.askthosewhoknow.org"> web sites</a> and applications
                                            (<a href="www.atwk.app"> Desktop</a>, <a
                                                href="https://play.google.com/store/apps/details?id=com.askthosewhoknow&hl=en">Android</a>, <a
                                                href="https://apps.apple.com/in/app/ask-those-who-know/id1209569837">iOS</a>), you signify your
                                            agreement to all terms of use, conditions and notices
                                            contained or referenced herein (the "Terms of Use"). If you do not agree to these Terms of Use, do not
                                            use these sites and related applications. No contract or engagement is created, respected scholars
                                            respond to queries as per best effort basis and under no obligation to do so. The world wide web is an
                                            evolving medium and therefore the ATWK, administrator(s) reserves the right, in its sole discretion, to
                                            update or revise these Terms of Use at any time. Please check the Terms of Use periodically for changes.
                                            Your continued use of these sites and related applications following the posting of any changes to the
                                            Terms of Use constitutes tacit acceptance of those changes.</p>
                                    </div>
                                </mat-expansion-panel>
                <!-- ------------------------------- -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <!-- <mat-icon class="mlr">navigate_next</mat-icon> -->
                            Accessing AskThoseWhoKnow
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="term-description">
                        <p class="para mt0">ATWK sites and applications are made available free of any and all charges.
                        </p>
                        <p class="para">We do not guarantee that our sites and/or applications, or any related content,
                            will always be available or be uninterrupted. Access to ATWK sites and applications is
                            permitted on a best effort basis. We may suspend, withdraw, discontinue or change all or any
                            part of ATWK site and applications without notice. We will not be liable if for any reason
                            ATWK’s unavailable at any time or for any period.</p>
                        <p class="para">You are responsible for making all arrangements necessary for you to have access
                            to ATWK.  </p>
                        <p class="para">You are also responsible for ensuring that all persons who access ATWK through
                            your internet connection are aware of these terms of use and other applicable terms and
                            conditions, and that they comply with them.  </p>
                    </div>
                </mat-expansion-panel>
                <!-- ------------------------------- -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Your account and password
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="term-description">
                        <p class="para">If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party. </p>
                        <p class="para">We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use. </p>
                        <p class="para">If you know or suspect that anyone other than you know your user identification code or password, you must promptly notify us at admin@askthosewhoknow.org </p>
                    </div>
                </mat-expansion-panel>
              <!-- ------------------------------- -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Third party links and resources 
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="term-description">
                    <p class="para">As part of responses from respected scholars, 3rd party links could be provided. These 3rd party sites may contain information or material that some people may find inappropriate or offensive. These other sites are not under the control of ATWK you hereby acknowledge that ATWK does not make any representation or warranty regarding the accuracy, timeliness, suitability, copyright compliance, legality, decency, or any other aspect of the content of such other sites. Inclusion of any such link does not imply endorsement of the site, or any other aspect of the information located on such sites, nor does it imply any association with its operators.  </p>
                </div>
            </mat-expansion-panel>
          <!-- ------------------------------- -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Association to ATWK
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="term-description">
                <p class="para"> You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists without ATWK consent. You must not establish a link to ATWK in any website or any internet related services that is not owned by you.  We reserve the right to withdraw linking permission without notice. All internet related services in which you are linking must comply in all respects with the content standards set out in our Acceptable Use Policy</p>
            </div>
        </mat-expansion-panel>
      <!-- ------------------------------- -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Acceptable Use Policy
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="term-description">
            <p class="para bold">Prohibited uses</p>
            <ul class="term-list">
                <li>in any way that breaches any applicable local, national or international law or regulation</li>
                <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect</li>
                <li>for the purpose of harming or attempting to harm minors in any way</li>
                <li>to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards</li>
                <li>to transmit, or procure the sending of, any unsolicited or unauthorized advertising or promotional material or any other form of similar solicitation (spam)</li>
            </ul>
            <p class="para bold">You also agree:</p>
            <ul class="term-list">
                <li>not to reproduce, duplicate, copy or re-sell any part of ATWK (except as otherwise provided for in these terms)</li>
                <li>not to access without authority, interfere with, damage or disrupt:
                    <ul class="term-list sublist">
                        <li>any part of ATWK websites and applications</li>
                        <li>any equipment or network on which ATWK is stored</li>
                        <li>any software used in the provision of ATWK, or</li>
                        <li>any equipment or network or software owned or used by any third party</li>
                    </ul>  
                </li>

            </ul>
        </div>
    </mat-expansion-panel>
  <!-- ------------------------------- -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Suspension and termination
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="term-description">
        <p class="para"> We will determine, in our discretion, whether there has been a breach of this acceptable use policy through your use of ATWK. When a breach of this policy has occurred, we may take such action as deemed appropriate.</p>
        <p class="para">Failure to comply with this acceptable use policy constitutes a material breach of these Terms upon which you are permitted to use ATWK, and may result in our taking all or any of the following actions: </p>
        <ul class="term-list">
        <li>immediate, temporary or permanent withdrawal of your right to use ATWK</li>
        <li>immediate, temporary or permanent removal of any posting or material uploaded by you to ATWK </li>
        <li>issue of a warning to you</li>
        <li>legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach
        </li>
        <li>further legal action against you</li>
        <li>disclosure of such information to law enforcement authorities as we reasonably feel is necessary
        </li>
        </ul>
        <p class="para">We exclude liability for actions taken in response to breaches of this acceptable use policy. The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate. </p>
    </div>
</mat-expansion-panel>
<!-- ------------------------------- -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Viruses and Malware
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="term-description">
        <p class="para">As best effort basis, we maintain the websites and applications to be free to viruses and malware. However, you are responsible for configuring your systems, mobile devices, information technology, computer programmes and platform in order to access ATWK. You should use your own security software. </p>
        <p class="para">You must not misuse ATWK by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which ATWK is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under respective Information Technology acts in various countries. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by sharing relevant details. In the event of such a breach, your right to use ATWK will cease immediately. </p>
    </div>
</mat-expansion-panel>
<!-- ------------------------------- -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Disclaimer of warranties
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="term-description">
        <p class="para">All content is provided “as is” and “as available” for your use. The content is provided without warranties of any kind, either expressed or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, title or non-infringement.  ATWK do not warrant that the content is accurate, reliable or correct; that the websites and applications will be available at any particular time or location; that any defects or errors will be corrected; or that the content is free of viruses or other harmful components. Your use of this site is solely at your risk. Because some jurisdictions do not permit the exclusion of certain warranties, these exclusions may not apply to you. </p>
    </div>
</mat-expansion-panel>
<!-- ------------------------------- -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Limitation of liability
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="term-description">
        <p class="para">Under no circumstances shall ATWK and its respective affiliates be liable for any direct, indirect, punitive, incidental, special, or consequential damages that result from the use of, or inability to use, this site. This limitation applies whether the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if ATWK or its respective affiliates have been advised of the possibility of such damage.  </p>
    </div>
</mat-expansion-panel>
<!-- ------------------------------- -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Termination
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="term-description">
        <p class="para">ATWK administrators reserves the right, in its sole discretion, to terminate your access to all or part of this Site, with or without notice. </p>
    </div>
</mat-expansion-panel>
<!-- ------------------------------- -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Copyright notice
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="term-description">
        <p class="para">All rights, including copyright, in the content of these websites and applications are owned or controlled by ATWK. The material on ATWK includes, without limitation, the text, computer code, SEO functionality, artwork, photographs, images, and all audio and/ or visual material on this website). </p>
        <p class="para">In accessing ATWK, you agree that you may only download the content for your own personal non-commercial use. </p>
        <p class="para">Except where expressly stated otherwise, you are not permitted to copy, broadcast, download, store (in any medium), transmit, show or play in public, adapt or change in any way the content of ATWK for any other purpose whatsoever without the prior written permission of the ATWK administrators. </p>
    </div>
</mat-expansion-panel>
<!-- ------------------------------- -->
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Contact us
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="term-description">
        <p class="para">To contact us, please email admin@askthosewhoknow.org </p>
    </div>
</mat-expansion-panel>

<!-- ------------------------------- -->
            </mat-accordion>
        </div>
    </div>
</div>