
@import '../../../partial';
img.icon.icon-img {
  width: 28px;
  padding: 0px 10px 0px 14px;
}
input.input-field {
  margin-left: 0px;
}
.true{
  // opacity: .2;
  // background-color: #f2f2f28c!important;
  color: #fff ;
}
.last-login{
  float: right;
}
.sidenav{ height: calc(100vh - 136px);}


@media only screen and (max-width: 600px) {
.sidenav{ height: calc(100vh - 184px);}
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

h5,h6,p{
  margin-top: 0px !important;
  margin-bottom: 5px !important;
}

.profile-image {
  position: relative;
  width: 65px;
}


h5{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
h6{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px !important;
}
.profile-data {
  overflow: hidden !important;
  width: 100px;
}

.dark-theme{
    background-color: $mat-primary-main;
}

.input-container{
  width: 90%;
  margin: 12px auto;
  border-radius:30px ;
  height: 48px;
}
.user-list {
  margin: 5px auto;
  width: 90%;
  padding: 10px;
  &:hover,
  &.selected{
   background-color: rgba(250, 250, 250, 0.04);
  }
}
.profile-image {
  margin-right: 12px;
}

input.true::placeholder {
  color:white;
  opacity: 1; /* Firefox */
}

input.true:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:white;
}

input.true::-ms-input-placeholder { /* Microsoft Edge */
  color:white;
}
// ============= light theme
input.false::placeholder {
  color:#bbb;
  opacity: 1; /* Firefox */
}

input.false:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#bbb;
}

input.false::-ms-input-placeholder { /* Microsoft Edge */
  color:#bbb;
}
// ============= no theme
::placeholder {
  color:#bbb;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#bbb;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#bbb;
}


.profile-image {
  max-height: 61px !important;
}

.mat-radio-outer-circle {
  height: 25px!important;
  width: 25px!important;
  border-width: 1.5px !important;

}

.input-wrap {
  width: 90%;
  margin: 12px auto;
  background-color: transparent !important;
}
.input-field-top{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 0px auto;
  margin-top: 10px !important;
}
.input-field-bottom{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0px auto;
}
.input-field-ch {
  margin-bottom: 2px;
   color: #BBBBBB;
  width: 90%;
  padding: 14.4px;
  outline: none;
  border: none !important;
  margin-left: -2px;
  background-color: #F2F2F2;
  font-size: 16px;
  font-family: SF Text Regular;
  color: black;
}

h5.subject-head.subject-head-bottom {
  width: 90%;
  margin: 0px auto;
}
p.line {
  border-top: 1px solid lightgray;
  opacity: .4;
}

.bottom-action-wrap{
  text-align: center;
  height: 48px;
}
.half{
  width: 48%;
  display: inline-block;

}
button.mat-stroked-button.mat-button-base.mat-warn{
  border: 1px solid $mat-warn-main;
  border-radius: 50px;
  color: $mat-warn-main;;
  width: 90%;
  }
  button.mat-raised-button.mat-button-base.mat-warn{
  border: 1px solid $mat-warn-main;
  border-radius: 50px;
  color:white;
  width: 90%;
  }
  .radio-wrap {
    width: 70px;
 }

  input[type="radio"].radio-true {
    appearance:none;
    margin:0 40px;
    width: 28px;
    height: 28px;
    background: transparent;
    box-shadow:
      inset 0 0 0 .4em transparent,
      0 0 0 .2em #3A6CC1;
    border-radius: 50%;
    transition: .2s;
    cursor:pointer;
    color: #363945;

    &:checked {
      background: #3A6CC1;
      box-shadow:
      inset 0 0 0 .4em #001f52,
      0 0 0 .2em;
    }

    &:checked {
      background: #3A6CC1;
      box-shadow:
        inset 0 0 0 .4em #001f52,
        0 0 0 .2em #3A6CC1;
    }

    &:focus { outline: 0; }
  }


  input[type="radio"].radio-false {
    appearance:none;
    margin:0 40px;
    width: 28px;
    height: 28px;
    background: transparent;
    box-shadow:
      inset 0 0 0 .4em transparent,
      0 0 0 .2em #3A6CC1;
    border-radius: 50%;
    transition: .2s;
    cursor:pointer;
    color: #363945;

    &:checked {
      background: #3A6CC1;
      box-shadow:
      inset 0 0 0 .4em white,
      0 0 0 .2em;
    }

    &:checked {
      background: #3A6CC1;
      box-shadow:
        inset 0 0 0 .4em white,
        0 0 0 .2em #3A6CC1;
    }

    &:focus { outline: 0; }
  }

  button.mat-raised-button.mat-button-base.mat-warn:disabled {
    background-color: #c7a76d !important;
    cursor: not-allowed !important;
}

span.isread.last-login {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: $light-sky-blue  ;
}

mat-icon.float-right.mat-icon.notranslate.material-icons.mat-icon-no-color {
  font-size: 40px;
}
.last-login {
  float: right;
  width: 30px;
}
