<div class="outer">
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <form #feedBack="ngForm" class="form" (ngSubmit)="reacrivate(feedBack);feedBack.form.reset()">
            <!-- --------------------------------------- -->
            <br>
            <br>
   
            <div class="tooltip" *ngIf="oldpassword?.touched && oldpassword?.errors?.required">
                <span class="tooltiptext">This field is required</span>
            </div>
            <div class="input-container mb-first-nput">
                <img class=" icon-other icon-top icon-other-img" src="assets/images/common/key.svg">
                <input  #oldpassword="ngModel"  type="password" class="input-field-other input-field-top {{theme}}" ngModel placeholder="Password" name="oldPassword"
                     required placeholder="Old Password">
            </div>
            <div class="tooltip" *ngIf="password?.touched && password?.errors?.required">
                <span class="tooltiptext">This field is required</span>
            </div>
            <div class="input-container">
                <img class=" icon-other icon-other-img" src="assets/images/common/key.svg">
                <input (keyup)="chkPaassword(password.value,cpassword.value)"  #password="ngModel" type="password" class="input-field-other {{theme}}" ngModel placeholder="Password" name="password"
                     required placeholder="New Password">
            </div>

            <div class="tooltip" *ngIf="cpassword?.touched && cpassword?.errors?.required">
                <span class="tooltiptext">This field is required</span>
            </div>
            <div class="tooltip" *ngIf="passError && !cpassword?.errors?.required ">
                <span class="tooltiptext">Password must be equal</span>   
            </div>
            <div class="input-container mb-last-nput">
                <img class=" icon-other icon-bottom icon-other-img" src="assets/images/common/key.svg">
                <input (keyup)="chkPaassword(password.value,cpassword.value)"  #cpassword="ngModel" type="password" class="input-field-other input-field-bottom {{theme}}" ngModel placeholder="Password" name="cPassword"
                     required placeholder="Retype New Password">
            </div>
            <!-- --------------------------------------- -->

            <button mat-flat-button color="warn" type="submit" [disabled]="!feedBack.valid || passError"><span
                    class="btn-text">SAVE</span></button>
            <br>


            <br>

        </form>
    </div>
</div>