@import '../../../partial';
// ======================= tool tip

.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {

    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: 160px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .icon-other {
    padding: 0px 10px 0px 30px;
    text-align: center;
    border: none !important;
    width:20px;
}
.mb-first-nput {
  border-top-left-radius: 19px;
  border-top-right-radius: 18px;
}
.mb-last-nput{
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
.input-container.textatea {
  border-radius: 18px;
}

.input-field-other {
    color: #BBBBBB;
    width: 100%;
    padding: 14.4px;
    outline: none;
    border: none !important;
    margin-left: -2px;
    font-size: 16px;
    font-family: SF Text Regular;
    background-color: transparent;
  
}
form {
    width: 90%;

}
.label{
    font-size: 14px;
    font-family: SF Text Regular;
    opacity: .6;
}


.mb-last1-nput{
margin-top: 10px;
}
// .mb-first-nput{
//   margin-bottom: 2px;;
// }
button.mat-flat-button.mat-button-base.mat-warn {
  margin-top: 20px !important;
}
form.form{
  margin-top: 20px;
}
input#file-input {
  display: none;
}
textarea.input-field-about{
  width: 100%;
  border-radius: 18px;
  padding: 14.4px;
}
img.profile-img {
  border-radius: 50%;
  width: 120px;
}
.sidenav-first{
  height: calc(100vh - 4em);
}
.sidenav-second{
  height: calc(100vh - 8em);
}

form{
  margin: auto;
}

	  
.input-field{
  background-color: transparent;
}
.icon {
background-color: transparent;
}
.input-container {
  margin-bottom: 2.5px !important;
}

input{
  color: black;
}




.active{
  background-color: transparent!important;
  color:  $dark-sky-blue  ;
}
.btn-left{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.btn-right{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.active-false button.active {
  color: $dark-sky-blue  !important;
}
.subject-detail-wrap{
  padding: 10px;
  text-align: center;
  height: auto !important;
}
.cancel-half{
  width: 50%;
  display: inline-block;

}
.user-contact-name{
  width: 600px;
  white-space: nowrap;    
  overflow: hidden;
  text-overflow: ellipsis; 
}
button.mat-stroked-button.mat-button-base.mat-warn{
  border: 1px solid $mat-warn-main;
  border-radius: 50px;
  color: $mat-warn-main;;
  width: 90%;
  }
  button.mat-raised-button.mat-button-base.mat-warn{
  border: 1px solid $mat-warn-main;
  border-radius: 50px;
  color:white;
  width: 90%;
  }
  .cancel-half{
    width: 50%;
    display: inline-block;
  }
  button.warn-menu.mat-menu-item {
    padding: 0p;
    background-color: $mat-warn-main;
    text-align: center;
}
button.warn-menu.mat-menu-item:hover{
  background-color: $mat-warn-darker;
}
.subject-detail-wrap.ng-star-inserted {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.crop-wrap {
  width: 100%;
}
input,select,textarea {
  color: black !important;
  font-size: 16px;
    font-family: SF Text Regular;
}