
<app-about *ngIf="tag=='app-about'"></app-about>
<app-notifications *ngIf="tag=='app-notifications'"></app-notifications>
<app-feedback *ngIf="tag=='app-feedback'"></app-feedback>
<app-terms-of-usage *ngIf="tag=='app-terms-of-usage'"></app-terms-of-usage>
<app-donate-now *ngIf="tag=='app-donate-now'"></app-donate-now>
<app-how-to-use *ngIf="tag=='app-how-to-use'"></app-how-to-use>
<app-profile *ngIf="tag=='app-profile'"></app-profile>
<app-setting *ngIf="tag=='app-setting'"></app-setting>
<app-update-profile *ngIf="tag=='app-update-profile'"></app-update-profile>
<app-change-password *ngIf="tag=='app-change-password'"></app-change-password>
<app-user-profile *ngIf="tag=='app-user-profile'"></app-user-profile>
<app-scholars-profile *ngIf="tag=='app-scholars-profile'"></app-scholars-profile>
<app-scholar-redirect *ngIf="tag=='app-scholar-redirect'"></app-scholar-redirect>
<app-bulk-messages *ngIf="tag=='app-bulk-messages'"></app-bulk-messages>
<app-add-scholar *ngIf="tag=='app-add-scholar'"></app-add-scholar>
<app-pending-queries-history *ngIf="tag=='app-pending-queries'"></app-pending-queries-history>
<app-chat-history-user-right *ngIf="tag=='app-chat-history-user'"></app-chat-history-user-right>
