     <div  fxFlex="auto" fxLayoutAlign="space-around center" >
    <div class="inner-sidebar" fxFlex="100%">
        <div class="input-container input-container-{{theme}}">
            <img *ngIf="!theme" class="icon icon-img {{theme}}" src="assets/images/light/search.svg">
            <img *ngIf="theme" class="icon icon-img {{theme}}" src="assets/images/dark/search.svg">
            <input [class.field-ch]="!!searchKeyScholar" [(ngModel)]="searchKeyScholar" type="text" class="input-field {{theme}}" ngModel placeholder="Search"  id="serch" #search >
            <img *ngIf="!!searchKeyScholar" (click)="searchKeyScholar=''" class="icon icon-right-close icon-img {{theme}}" src="assets/images/common/close.png">

        </div>
        <div class="sidenav ">
            <div *ngFor="let user of scholars | scholarFilter:searchKeyScholar; let i = index;">
              <div class="user-list" [ngClass]="{'selected': currentUserIndex === i}">
              <label for="{{i}}">
                <div class="cursor-pointer">
                    <div fxFlex="48px" class="profile-image">
                        <img *ngIf="theme" class="user-image" src="{{user.image.darkImage}}" alt="User Image">
                        <img *ngIf="!theme" class="user-image" src="{{user.image.lightImage}}" alt="User Image">
                        <span  class="{{user.UserLoginStatus}} online_icon theme-{{theme}} {{user.UserLoginStatus}}"></span>

                    </div>
                    <div fxFlex="auto" class="profile-data">
                        <h5 cl><span [class.white-text]="theme" class="user-contact-name">{{user.name}}</span></h5>
                        <h6><span [class.white-text]="theme"  class="user-contact-subject ">{{user.nationality}}</span>
                            <span class=" last-login-dur {{user.UserLoginStatus}}-color"> &#x2022; {{user.lastLogin}}</span>
                        </h6>
                    </div>
                    <div  class="radio-wrap"  >
                        <span class="container">
                            <input class="radio-{{theme}} input-ch" id="{{i}}" type="radio" name="sli" [(ngModel)]="sli" value="{{user.userId}}" >
                        </span>
                    </div>
                </div>
            </label>
            </div>
            </div>
        </div>
        <div class="bottom-action-wrap bg-{{theme}}">
            <!-- <div class="full">
                <button mat-stroked-button color="warn" (click)="cancelnewChat()">Cancel</button>
            </div> -->
            <div class="full">
                <button mat-raised-button color="warn" type="submit" (click)="confirm()" [disabled]="!sli">CONFIRM</button>
            </div>
        </div>
    </div>

    </div>
